<div class="container">
  <div class="jumbotron single-match">
    <h2 class="match-title"><%= match.homeTeam %> vs <%= match.awayTeam %></h2>
    <div class="match-info"><span><%= match.competition %></span></br>
    <span><%= moment(match.date).format('h:mm a') %> &#8226;</span><span> <%= moment(match.date).format('Do MMM YYYY') %></span></div>
  </div>
  <h3 class="matches-show-title">Bars showing this match:</h3>
  <div class="row match-show">



    <% bars.forEach(bar => { %>

      <a href="/bars/<%= bar.id %>" class="index-link">
                <div class="card bar-card">
                  <img class="card-img-top bar-thumbnail" src="<%= bar.imageOne %>" alt="Card image cap">
                  <div class="card-body bar-card-content">
                    <h5 class="card-title"><%= bar.name %></h5>

                  </div>
                </div>
              </a>

    <% }) %>

    <% if (!bars.length) { %>
      <p class="message">There are no bars showing this match</p>
    <% } %>

  </div>



</div>
