<div class="container">
  <div class="showBar">


      <div class="jumbotron single-match">
        <h2 class="match-title"><%= bar.name %></h2>
        <div class="bar-address">
          <span><%= bar.address.line1 %> </span><span><%= bar.address.line2 %></span>,<span> <%= bar.address.city %></span>,<span> <%= bar.address.postcode %></span>
        </div>
        <a href="<%= bar.website %>"><h4 class="link">View website</h4></a>



          <% if(locals.isLoggedIn && bar.belongsTo(user)) { %>

            <div class="row user">
            <a href="/bars/<%= bar.id %>/edit" class="btn btn-warning edit-delete">Edit</a>

            <form action="/bars/<%= bar.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger edit-delete">Delete</button>
            </form>

              </div>
            <% } %>


      </div>





      <input type="hidden" name="address[lat]" value="<%= bar.address.lat %>">
      <input type="hidden" name="address[lng]" value="<%= bar.address.lng %>">
      <hr>

      <%# <div class="row bar-information"> %>
        <div class="description">
          <p><%= bar.description %></p>
        </div>
      <%# </div> %>
      <hr>

      <div class="row bar-images">

        <img src="<%= bar.imageOne %>" alt="bar.name" class="bar-photo">

        <div class="map col-lg-6">

        </div>

      </div>


      <hr>
      <h3 class="fixtures-title">Upcoming Fixtures</h3>


      <div class="row">
        <% bar.fixtures.forEach((fixture) => { %>
          <div class="card match-card">
            <div class="card-header competition">
              <span><i class="fa fa-futbol-o" aria-hidden="true"></i> </span><span><%= fixture.competition %></span>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item date"><span><%= moment(fixture.date).format('h:mm a') %> &#8226;</span><span> <%= moment(fixture.date).format('Do MMM YYYY') %></span></li>
              <li class="list-group-item team"><p><%= fixture.homeTeam %></p></li>
              <li class="list-group-item team"><p><%= fixture.awayTeam %></p></li>
            </ul>
            <a href="/matches/<%= fixture.id %>" class="btn btn-outline-primary my-2 my-sm-0">Match details</a>
          </div>
          <% }) %>
      </div>
      <hr>


      <section>
        <h3 class="reviews-title">Reviews</h3>
        <% bar.reviews.forEach((review) => { %>

          <div class="row review-row">
            <div class="col-3 username-box">
              <p class="review-username"><%= review.createdBy.username %></p>
            </div>
            <div class="col-7 content-box">
              <p id="content"><%= review.content %></p>
              <% if(locals.isLoggedIn && review.belongsTo(user)) { %>
                <form method="POST" action="/bars/<%= bar.id %>/reviews/<%= review.id %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="btn btn-outline-danger btn-sm delete-button"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete comment</button>
                </form>
              <% } %>
            </div>
          </div>
        <% }) %>
      </section>

      <% if(locals.isLoggedIn) { %>
        <hr>
        <section>
          <form method="POST" action="/bars/<%= bar.id %>/reviews">
            <div class="form-group">
              <textarea name="content" id="content" placeholder="Write a review..." class="form-control write-review-input" rows="3"></textarea>
            </div>
            <button class="btn btn-outline-primary btn-sm btn-block">Write a review</button>
          </form>



        </section>
      <% } %>
  </div>
</div>
