<div class="container">
  <div class="showBar">
    <% if(locals.isLoggedIn && bar.belongsTo(user)) { %>
      <a href="/bars/<%= bar.id %>/edit">Edit</a>

      <form action="/bars/<%= bar.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
      </form>
      <% } %>
      <h2><%= bar.name %></h2>
      <input type="hidden" name="address[lat]" value="<%= bar.address.lat %>">
      <input type="hidden" name="address[lng]" value="<%= bar.address.lng %>">


      <div class="row">

        <img src="<%= bar.imageOne %>" alt="bar.name" class="col-lg-6">

        <div class="map col-lg-6">

        </div>

      </div>

      <div class="row bar-information">
        <div class="description col-lg-6">
          <p><%= bar.description %></p>
        </div>
        <div class="addressInfo col-lg-3">
          <span><%= bar.address.line1 %> </span><span><%= bar.address.line2 %></span>,</br><span><%= bar.address.city %></span>,</br><span><%= bar.address.postcode %></span>

        </div>
        <div class="contactInfo col-lg-3">
          <p>+34 </p><p><%= bar.telephone %></p>
          <a href="<%= bar.website %>"><h4>View website</h4></a>
        </div>

      </div>

      <h3>Upcoming Fixtures</h3>


      <div class="row">
        <% bar.fixtures.forEach((fixture) => { %>
          <div class="card" style="width: 18rem;">
          <div class="card-header competition">
          <span><i class="fa fa-futbol-o" aria-hidden="true"></i> </span><span><%= fixture.competition %></span>
          </div>
          <ul class="list-group list-group-flush">
          <li class="list-group-item date"><span><%= moment(fixture.date).format('h:mm a') %> &#8226;</span><span> <%= moment(fixture.date).format('Do MMM YYYY') %></span></li>
          <li class="list-group-item team"><p><%= fixture.homeTeam %></p></li>
          <li class="list-group-item team"><p><%= fixture.awayTeam %></p></li>
          <li class="list-group-item"><a href="/matches/<%= fixture.id %>">View Match</a></li>
          <li class="list-group-item"><a href="/matches/<%= fixture.id %>/new">Show this match</a></li>
          </ul>
          </div>
          <% }) %>
      </div>


      <section>
        <h4>Reviews</h4>
        <% bar.reviews.forEach((review) => { %>
          <p><%= review.content %></p>
          <small><%= review.createdBy.username %></small>

          <% if(locals.isLoggedIn && review.belongsTo(user)) { %>
            <form method="POST" action="/bars/<%= bar.id %>/reviews/<%= review.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button>Delete</button>
            </form>
          <% } %>
          <% }) %>
      </section>

      <% if(locals.isLoggedIn) { %>
        <section>
          <h4>Write a review</h4>
          <form method="POST" action="/bars/<%= bar.id %>/reviews">
            <textarea name="content" id="content" placeholder="Review"></textarea>
            <button class="button">Write a review</button>
          </form>
        </section>
      <% } %>
  </div>
</div>
