<div class="container">
  <% if(locals.isLoggedIn && bar.belongsTo(user)) { %>
    <a href="/bars/<%= bar.id %>/edit">Edit</a>

    <form action="/bars/<%= bar.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
    </form>
  <% } %>
  <h2><%= bar.name %></h2>
  <span><%= bar.address.line1 %></span> <span><%= bar.address.line2 %></span>, <span><%= bar.address.city %></span>, <span><%= bar.address.postcode %></span>
  <a href="<%= bar.website %>"><h4>Website</h4></a>
  <img src="<%= bar.imageOne %>" alt="bar.name">
  <p><%= bar.description %></p>
  <div class="row">
    <% bar.fixtures.forEach((fixture) => { %>
      <div class="col-lg-3">
      <p><%= fixture.homeTeam %></p>
      <p><%= fixture.awayTeam %></p>
      <p><%= fixture.date %></p>
      </div>
    <% }) %>

  </div>
</div>

<section>
  <h4>Reviews</h4>
  <% bar.reviews.forEach((review) => { %>
    <p><%= review.content %></p>
    <small><%= review.createdBy.username %></small>

    <% if(locals.isLoggedIn && review.belongsTo(user)) { %>
      <form method="POST" action="/bars/<%= bar.id %>/reviews/<%= review.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete</button>
      </form>
    <% } %>
  <% }) %>
</section>

<% if(locals.isLoggedIn) { %>
  <section>
    <h4>Write a review</h4>
    <form method="POST" action="/bars/<%= bar.id %>/reviews">
      <textarea name="content" id="content" placeholder="Review"></textarea>
      <button class="button">Write a review</button>


    </form>
  </section>
<% } %>
